#books-area
{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1000px)
{
    #books-area
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 750px)
{
    #books-area
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    #books-area
    {
        grid-template-columns: 1fr;
    }
}

#extended-book
{
    width: 100%;
}

.back-to-search-results-btn
{
    margin-top: 10px;
    border: none;
    font-size: 16px;
    padding: 5px;
}

.back-to-search-results-btn:hover
{
    background-color: grey;
}

.book-cover
{
    width: 30%;
    height: fit-content;
    background-color: lightgrey;
}

.book-info
{
    padding-left: 10px;
}

.book-cover img
{
    width: 40%;
    padding: 10px;
}

@media (max-width: 500px)
{
    .book-cover img 
    {
        width: 80%;
    }
}

.extended-book .book-info
{
    width: 50%;
    text-align: left;
}

.extended-book
{
    display: flex;
    flex-direction: row;
}

.extended-book .book-description
{
    background-color: lightgrey;
    padding: 5px;
}

.book
{
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
}

.book .book-title, .book-categories, .book-authors
{
    text-align: left;
}

.book-authors, .book-categories
{
    color: grey;
}

.book-categories
{
    width: 20%;
    border-bottom: 1px solid grey;
}

.load-more
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
}